.App {
  height: 100vh;
  text-align: -webkit-center;  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.App > header {
  grid-area: header;
}

.App > main {
  grid-area: main;
  padding: 15px 5px 10px 5px;
}

.App > footer {
  grid-area: footer;
}
footer,
header {
  background-color: #6b0700;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
}
.grid-content{
  display: grid;
  gap: 20px;
  width: 80%;
  grid-template-areas:
      "title title"
      "half1 half2";
  grid-template-columns: 1fr 1fr;

}
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}
